<table id="user_board">
    <thead>
        <tr>
            <th>name</th>
            <th>lastname</th>
            <th>email</th>
            <th>age</th>
            <th>role</th>
            <th>details</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each users }}
        <tr>
            <td>{{ this.name }}</td>
            <td>{{ this.lastname }}</td>
            <td>{{ this.email }}</td>
            <td>{{ this.age }}</td>
            <td>{{ this.role }}</td>
            <td>
                <a href="/dashboard/user/{{this._id}}/details">view</a>
            </td>
            <td>
                <a href="/user/delete/{{this._id}}">X</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>