{{>head_dashboard}}
{{>nav_dashboard}}
<h1 class="title">user details</h1>
<p>
    <p>name: {{ user.name }}</p>
    <p>lastname: {{ user.lastname }}</p>
    <p>email: {{ user.email }}</p>
    <p>age: {{ user.age }}</p>
    <p>role: {{ user.role }}</p>
</p>