<form action="{{action}}" method="get">
    <table id="board_product" class="board">
        <thead class="head">
            <tr class="row">
                <th class="cell">ref</th>
                <th class="cell">name</th>
                <th class="cell">price</th>
                <th class="cell">category</th>
                <th class="cell">edit</th>
                <th class="cell" title="create a pack with selected products">
                    <button class="btn fas fa-box-open"></button>
                </th>
                <th class="cell">delete</th>
            </tr>
        </thead>
        <tbody class="body">
            {{#each products }}
            <tr id="product_{{this._id}}" class="row">
                <td class="cell">{{ this.ref }}</td>
                <td class="cell">{{ this.name }}</td>
                <td class="cell">{{ this.price }}</td>
                <td class="cell">{{ternary this.category.name this.category.name 'uncategorized' }}</td>
                <td class="cell">
                    <a href="/dashboard/product/edit/{{this._id}}">edit</a>
                </td>
                <td class="cell">
                    <input type="checkbox" name="products_id" value="{{this._id}}" class="checkbox">
                </td>
                <td class="cell">
                    <a href="/dashboard/product/delete/{{this._id}}" class="delete btn">X</a>
                </td>
            </tr>
            {{else}}
            <tr class="row">
                <td colspan="7" class="cell row-empty">no products yet</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>